<div class="productos-container">
    <h1 class="titulo-principal">Insertar un nuevo producto</h1>

    <div class="product-container">
        <form action="/api/products" method="POST" enctype="multipart/form-data">
            <label for="code">Código: </label>
            <input type="number" id="code" name="code" required>
            
            <label for="title">title: </label>
            <input type="text" id="title" name="title" required>
            
            <label for="price">price: </label>
            <input type="number" id="price" name="price" required>
            
            <label for="description">Descripción: </label>
            <input type="text" id="description" name="description" required>
            
            <label for="file">Imagen del producto:</label>
            <input type="file" id="file" name="file">
            
            <label for="stock">Stock: </label>
            <input type="number" id="stock" name="stock" required>
            
            <input type="hidden" name="status" value="true">
            
            <br>
            <br>
            <button type="submit" class="btn btn-agregar">Insertar Producto</button>
        </form>
    </div>
</div>